$color-red-5: #ff0000;
$color-red-1: #ffcccc;
$color-red-2: #ffb3b3;
$color-red-3: #ff6666;
$color-red-4: #ff3333;
$color-red-6: #cc0000;
$color-red-7: #990000;
$color-red-8: #800000;
$color-red-9: #4c0000;
$color-red-10: #330000;
