.center {
  max-width: 1170px;
  width: 90vw;
  margin: 0 auto;
}
.singleStockPage__lineChart {
  height: 30rem;
  width: auto;
  margin: 0 auto;
  margin-top: 6rem;
}
.singleStockPage {
  background: #222;
  width: 100%;
  min-height: 100vh;
}
