.modal {
  position: fixed;
  inset: 0;
  background: black;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out;
  display: grid;
  place-items: center;

  &__container {
    position: absolute;
    width: 90vw;

    background: #222;
    border-radius: 0.5rem;
    max-width: 50rem;
  }

  &__closeBtn {
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 20px;
    background: transparent;
    border: none;
    font-size: 2rem;
  }

  &__chart {
    width: 400px;
    height: 400px;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: white;
  }
}
.show-modal {
  opacity: 1;
  pointer-events: auto;
}
.hide-modal {
  opacity: 0;
  pointer-events: none;
}

.gucci {
  width: 50px;
  height: 50px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .gucci {
    width: 100px;
    height: 100px;
  }
}
