* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #222;
  color: #8b0000;
  margin: 0;
  padding: 0;
}
.stock {
  width: 23rem;
  height: auto;
  margin: 0 auto;
  margin-block: 2rem;
  border: 3px solid #8b0000;
  border-radius: 0.5rem;
  display: grid;
  grid-auto-rows: 14rem 1fr;
  background: linear-gradient(to bottom, white 55%, #222 45%);
  position: relative;
}
.stock__img {
  width: 100%;
  height: 10rem;
}
.stock__img h3 {
  text-align: center;
}
.section-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}
.stock__info {
  background: #222;
  border-bottom-left-radius: 0.5rem;
}
.flex {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 3rem;
  margin-bottom: 1rem;
  padding-inline: 3rem;
  position: relative;
  align-items: center;
}
.flex::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 10%;
  width: 80%;
  height: 1px;
  background: #8b0000;
  z-index: 20;
  border-radius: 0.5rem;
}
.no-divider::after {
  display: none;
}
.bar {
  margin-left: -1rem;
}

.recharts-legend-icon {
  display: none;
}
.recharts-legend-item-text {
  display: none;
}
.bull {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  border-radius: 50%;
}
.bull-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  outline: 0.25rem solid #222;
}
.stock__title {
  color: red;
}
.stock__subTitle {
  display: inline-block;
  background: #8b0000;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  color: white;
}
