* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #fff;
  color: #8b0000;
  margin: 0;
  padding: 0;
}
.stock {
  width: 23rem;
  margin: 0 auto;
  margin-block: 2rem;
  border: 3px solid #8b0000;
  border-radius: 0.5rem;
  overflow: hidden;
}
.stock__img {
  width: 100%;
  height: 14rem;
  background: black;
  padding-bottom: 2rem;
  position: relative;
}
.stock__info {
  background: #222;
  height: auto;

  padding-top: 2rem;
  padding-bottom: 1rem;
}
button {
  display: flex;
  color: #8b0000;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background 0.2s linear;
  border: none;
  width: 100%;

  padding-block: 1.2rem;
  background: black;
}
button:hover {
  background: #8b0000;
  color: #fff;
}
button:focus {
  outline: none;
}

.stock__img h3 {
  text-align: center;
}
.section-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}

.flex {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 3rem;
  margin-bottom: 1rem;
  padding-inline: 2rem;
  position: relative;
  align-items: center;
}
.flex:last-child {
  margin-bottom: 0rem;
}
.flex::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 5%;
  width: 90%;
  height: 1px;
  background: #8b0000;
  z-index: 20;
  border-radius: 0.5rem;
}
.no-divider::after {
  display: none;
}
.bar {
  margin-left: -1rem;
}

.recharts-legend-icon {
  display: none;
}
.recharts-legend-item-text {
  display: none;
}
.bull {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}
.bull-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  outline: 0.5rem solid #222;
}
.stock__title {
  color: red;
}
.stock__subTitle {
  display: inline-block;
  background: #8b0000;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  color: white;
}
